<div class = "sidebar">
	<div id="tagCloud" class = "sidebox widget box">
		<h4 class = "sidebox-title">标签</h4>
		<div class = "content tag-cloud">
		{{#get "tags" limit="all" include="count.posts"}}
			{{#foreach tags}}	
				<a href="{{url absolute="true"}}">{{name}}({{count.posts}})</a>
			{{/foreach}}
		{{/get}}
		</div>
	</div>

	<div id="latest-articles" class = "latest-articles sidebox box">
		<h4 class = "sidebox-title">最近文章</h4>
		<div class = "sidebox-content loading">
		{{#get "posts" limit="5" order="published_at desc"}}
			{{#foreach posts}}	
				<a href="{{url absolute="true"}}">
					<div class="date">{{date format="DD MMMM YYYY"}}</div>
					<div>{{title}}</div>
				</a>
			{{/foreach}}
		{{/get}}
		</div>
	</div>
	<div class = "post-footer">
	<section class="share">
		<h4>Share this post</h4>
		<a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
			onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
			<span class="hidden">Twitter</span>
		</a>
		<a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
			onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
			<span class="hidden">Facebook</span>
		</a>
		<a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
		   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
			<span class="hidden">Google+</span>
		</a>
    </section>
	</div>

</div>
